.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    text-decoration: none;
    color: #ffffff;
    transition: all 1s;
}

.back-to-top i {
    font-size: 60px;
}
