.readMore .collapse:not(.show) {
    display: block;
    height: 6rem;
    overflow: hidden;
}

.readMore .collapsing {
    height: 6rem;
}

.readMore .collapse {
    margin-bottom: 0;
}

.readMore a {
    text-decoration: underline;
}

.readMore a[data-bs-toggle="collapse"].collapsed::after {
    content: '+ Show More';
}

.readMore a[data-bs-toggle="collapse"]:not(.collapsed)::after {
    content: '- Show Less';
}
